.box-lane {
    display: flex;
}

.retry {
    cursor: pointer;
    padding: 10px;
    color: yellow;
    border: 1px solid #ccc;
    margin-top: 20px;
    border-style: outset;
}

.status {
    margin-bottom: 20px;
}

.display {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}